<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Panier Page</title>
    <link rel="stylesheet"  th:href="@{asset/libs/magnific-popup/dist/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{dist/css/style.min.css}"/>

    <link th:href="@{font/css/all.css}" rel="stylesheet">

    <style>
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link {
            background: #1F262D;
            opacity: .4;
            transition:all 0.3s ease
        }
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link:hover {
            opacity: 1;
            transition:all 0.3s ease
        }
    </style>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="index.html">
                    <b class="logo-icon p-l-10">
                        <img style="height: 30px;width: 40px" th:src="@{icone/shopping-cart.png}" alt="homepage" class="light-logo">

                    </b>
                    <span class="logo-text">
                        <img style="width: 135px; height: 30px; margin-left: 20px;" th:src="@{icone/shop-logo.png}" alt="homepage" class="light-logo">
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="fas fa-bars font-24"></i></a></li>
                    <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" style="position: relative;top: 5px;" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 fas fa-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                            <ul class="list-style-none">
                                <li>
                                    <div class="">
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10" style="margin-left: 10px;">
                                                <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                <div class="m-l-10" style="padding-left: 10px;padding-top: 5px;">
                                                    <h5 class="m-b-0">Notification</h5>
                                                    <span class="mail-desc"> n'est pas en marche </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{asset/images/users/1.jpg}" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><i class="fas fa-columns"></i><span class="hide-menu"> Dashboard</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><i class="fas fa-cart-arrow-down"></i><span class="hide-menu"> Panier</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-user-edit"></i><span class="hide-menu"> Authentification </span></a>
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item"><a href="" class="sidebar-link"><i class="fas fa-user"></i><span class="hide-menu"> Profile </span></a></li>
                            <li class="sidebar-item"><a href="" class="sidebar-link"><i class="fas fa-user-cog"></i><span class="hide-menu"> Edit Profile </span></a></li>
                            <li class="sidebar-item"><a href="" class="sidebar-link"><i class="fas fa-key"></i><span class="hide-menu"> Edit Password </span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Payment :</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <article class="card">
                <div class="card-body p-5">
                    <p th:text="${'Total est de : ' + total + ' $'}"></p>
                    <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                                <i class="fa fa-credit-card"></i> Credit Card</a></li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                                <i class="fab fa-paypal"></i>  Paypal </a></li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                                <i class="fa fa-university"></i>  Bank Transfer</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="nav-tab-card">
                            <form role="form" method="post" action="#">
                                <div class="form-group">
                                    <label for="username">Full name (on the card)</label>
                                    <input id="username" type="text" class="form-control" placeholder="" required="">
                                </div>

                                <div class="form-group">
                                    <label for="cardNumber">Card number</label>
                                    <div class="input-group">
                                        <input id="cardNumber" type="text" class="form-control" name="cardNumber" placeholder="">
                                        <div class="input-group-append">
                                            <span class="input-group-text text-muted">
                                                <i class="fab fa-cc-visa"></i>   <i class="fab fa-cc-amex"></i>  
                                                <i class="fab fa-cc-mastercard"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label><span class="hidden-xs">Expiration</span> </label>
                                            <div class="input-group">
                                                <input type="number"  class="form-control" placeholder="MM" >
                                                <input type="number" class="form-control" placeholder="YY" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label data-toggle="tooltip" title="" data-original-title="3 digits code on back side of the card">CVV <i class="fa fa-question-circle"></i></label>
                                            <input type="number" class="form-control" required="">
                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                                <button class="subscribe btn btn-primary btn-block" type="submit"> Confirm  </button>
                            </form>
                        </div> <!-- tab-pane.// -->
                        <div class="tab-pane fade" id="nav-tab-paypal">
                            <p>Paypal is easiest way to pay online</p>
                            <p id="test" style="text-align: center" class="test">
                                <div id="paypal-button-container"></div>

                                <!-- Include the PayPal JavaScript SDK -->
                                <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD"></script>

                                <script>
                                    // Render the PayPal button into #paypal-button-container
                                    paypal.Buttons({

                                        // Set up the transaction
                                        createOrder: function(data, actions) {
                                            return actions.order.create({
                                                purchase_units: [{
                                                    amount: {
                                                        value: '0.01'
                                                    }
                                                }]
                                            });
                                        },

                                        // Finalize the transaction
                                        onApprove: function(data, actions) {
                                            return actions.order.capture().then(function(details) {
                                                // Show a success message to the buyer
                                                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                                            });
                                        }


                                    }).render('#paypal-button-container');
                                </script>
                            </p>
                            <p><strong>Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="tab-pane fade" id="nav-tab-bank">
                            <p>Bank accaunt details</p>
                            <dl class="param">
                                <dt>BANK: </dt>
                            </dl>
                            <dl class="param">
                                <dt>Accaunt number: </dt>
                                <dd> 12345678912345</dd>
                            </dl>
                        </div>
                    </div>

                </div>
            </article>
            </aside>
        </div>
    </div>

</div>
        <footer class="footer text-center">
            All Rights Reserved by OuailMjahed.
        </footer>
    </div>
</div>
<script>
    function myFunction(id) {
        var qte = parseInt(document.getElementById('id' + id).innerHTML, 10);
        var prix = parseFloat(document.getElementById('prix' + id).innerHTML);
        document.getElementById('id' + id).innerHTML = qte + 1 ;
        document.getElementById('total').innerHTML = parseFloat(document.getElementById('total').innerHTML) + prix ;
        document.getElementById('hid').value = parseFloat(document.getElementById('total').innerHTML) + prix
    }
</script>
<script th:src="@{asset/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{asset/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{asset/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{asset/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{asset/extra-libs/sparkline/sparkline.js}"></script>
<script th:src="@{dist/js/waves.js}"></script>
<script th:src="@{dist/js/sidebarmenu.js}"></script>
<script th:src="@{dist/js/custom.min.js}"></script>
<script th:src="@{asset/libs/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
<script th:src="@{asset/libs/magnific-popup/meg.init.js}"></script>
</body>


</html>
