<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Home Page</title>
    <link rel="stylesheet"  th:href="@{/asset/libs/magnific-popup/dist/magnific-popup.css}"/>
    <link rel="stylesheet" th:href="@{/dist/css/style.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/asset/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asset/libs/quill/dist/quill.snow.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asset/libs/flot/css/float-chart.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asset/libs/jquery-minicolors/jquery.minicolors.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/asset/libs/magnific-popup/dist/magnific-popup.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/backend_css/style.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend_css/styleModal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend_css/search-filter.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/frontend_css/annonce.css}">
    <link th:href="@{/font/css/all.css}" rel="stylesheet">
    <style>
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link {
            background: #1F262D;
            opacity: .4;
            transition:all 0.3s ease
        }
        .sidebar-nav ul .sidebar-item.selected>.sidebar-link:hover {
            opacity: 1;
            transition:all 0.3s ease
        }
        .sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link {
            opacity: 0.4;
        }

        .sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link:hover {
            opacity: 1;
        }
        .sidebar-item{
            background: #1F262D;
        }
        .sidebar-link .waves-effect .waves-dark .sidebar-link{
            font-size:13px;
        }
    </style>
</head>

<body>
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>

<div id="main-wrapper">

    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                <a class="navbar-brand" href="index.html">
                    <b class="logo-icon p-l-10">
                        <img style="height: 30px;width: 40px" th:src="@{/icone/shopping-cart.png}" alt="homepage" class="light-logo">

                    </b>
                    <span class="logo-text">
                        <img style="width: 135px; height: 30px; margin-left: 20px;" th:src="@{/icone/shop-logo.png}" alt="homepage" class="light-logo">
                    </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="fas fa-bars font-24"></i></a></li>
                    <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
                        <form class="app-search position-absolute">
                            <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" style="position: relative;top: 5px;" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="font-24 fas fa-bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                            <ul class="list-style-none">
                                <li>
                                    <div class="">
                                        <a href="javascript:void(0)" class="link border-top">
                                            <div class="d-flex no-block align-items-center p-10" style="margin-left: 10px;">
                                                <span class="btn btn-success btn-circle"><i class="ti-calendar"></i></span>
                                                <div class="m-l-10" style="padding-left: 10px;padding-top: 5px;">
                                                    <h5 class="m-b-0">Notification</h5>
                                                    <span class="mail-desc"> n'est pas en marche </span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img th:src="@{/asset/images/users/1.jpg}" alt="user" class="rounded-circle" width="31"></a>
                        <div class="dropdown-menu dropdown-menu-right user-dd animated">
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> My Balance</a>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Inbox</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i> Account Setting</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off m-r-5 m-l-5"></i> Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><i class="fas fa-columns"></i><span class="hide-menu"> Dashboard</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><i class="fas fa-cart-arrow-down"></i><span class="hide-menu"> Panier</span></a></li>
                    <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-user-edit"></i><span class="hide-menu"> Authentification </span></a>
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item"><a href="" class="sidebar-link"><i class="fas fa-user"></i><span class="hide-menu"> Profile </span></a></li>
                            <li class="sidebar-item"><a href="" class="sidebar-link"><i class="fas fa-user-cog"></i><span class="hide-menu"> Edit Profile </span></a></li>
                            <li class="sidebar-item"><a href="" class="sidebar-link"><i class="fas fa-key"></i><span class="hide-menu"> Edit Password </span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="page-wrapper">
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <div class="col-7 comment-text  w-100">
                        <h4 class="page-title" th:text="${produit.nom}">Detail annonce :</h4>
                    </div>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                                <li v-else class="breadcrumb-item" th:text="${produit.nom}" aria-current="page">Titre</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">

                    <div class="slideshow-container">
                        <div class="mySlides fade">
                            <div class="numbertext">1/1</div>
                            <img th:if="${produit.url} != null" th:attr="src=${produit.getUrl()}" style="width:100%;max-height: 680px">
                            <img th:if="${produit.url} == null" th:src="@{/asset/images/big/img4.jpg}" style="width:100%;max-height: 680px">
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                    <br>
                    <div style="margin-bottom: 10px;text-align:center">
                        <span class="dot" onclick="currentSlide()"></span>
                    </div>


                    <div class="accordion" id="accordionExample">
                        <div class="card m-b-0">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <i class="m-r-5 fas fa-align-left" aria-hidden="true"></i>
                                        <span>Description :</span>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body" th:text="${produit.description}">
                                    Voici une description
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title m-b-0"><i class="m-r-5 fas fa-comment-dots" aria-hidden="true"></i> Recent Posts</h4>
                        </div>
                        <div class="comment-widgets scrollable">
                        </div>
                        <div class="card-body">
                            <form method="post">
                                <h4 class="card-title"><i class="m-r-5 fas fa-comment-alt" aria-hidden="true"></i>Inserer un commentaire</h4>
                                <div class="col-sm-12">
                                    <textarea class="form-control" name="message" placeholder="Inserer Votre commentaire ici...(n'est pas en marche pour l'instant)"></textarea>
                                    <button style="width: 25%; margin-top:10px;float: right;" type="submit" class="btn btn-info btn-lg btn-xs"><span style="font-size:1.2vw;">Publier</span></button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="col-md-5">
                    <div style="display:flex;padding: 10px;" class="bg-dark p-10 text-white text-center align-items-center d-flex justify-content-center">
                        <div class="col-md-7">
                            <small style="font-size: 13px" class="font-light"><i style="margin-right: 10px" class="fas fa-eye"></i>Seen :</small>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-user m-b-5 font-16"></i>
                            <h5 class="m-b-0 m-t-5">Pas en marche</h5>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Infos :</h5>
                        </div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Etat</th>
                                <th scope="col">Categorie</th>
                                <th scope="col">Prix</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-success">In Stock</td>
                                <td class="text-info">Neuf</td>
                                <td>Pas en marche</td>
                                <td class="text-success" th:text="${produit.prix}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div style="display: flex;">
                        <a style="width: 50%;" th:href="@{${'/add/panier/' + produit.id}}"><button style="width: 100%;" type="button" class="btn btn-warning btn-lg"><i style="margin-right: 10px" class="fas fa-shopping-cart"></i><span style="font-size:1vw;">Ajouter au panier</span></button></a>
                        <button style="width: 50%;" type="button" class="btn btn-danger btn-lg"><i style="margin-right: 10px" class="fas fa-exclamation"></i><span style="font-size:1vw;">Signaler vendeur</span></button>
                    </div>
                    <div class="card">
                        <div class="card-body align-items-center d-flex justify-content-center">
                            <ul class="social-network social-circle">
                                <li><a href="#" class="ico icoFacebook" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" class="ico icoTwitter" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" class="ico icoRss" title="Rss"><i class="fas fa-share-square"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer text-center">
            All Rights Reserved by OuailMjahed.
        </footer>
    </div>
</div>

<script th:src="@{/asset/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/asset/libs/popper.js/dist/umd/popper.min.js}"></script>
<script th:src="@{/asset/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
<script th:src="@{/asset/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/asset/extra-libs/sparkline/sparkline.js}"></script>
<script th:src="@{/dist/js/waves.js}"></script>
<script th:src="@{/dist/js/sidebarmenu.js}"></script>
<script th:src="@{/dist/js/custom.min.js}"></script>
<script th:src="@{/asset/libs/magnific-popup/dist/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/asset/libs/magnific-popup/meg.init.js}"></script>
<script th:src="@{/js/frontend_js/showslide.js}"></script>
</body>


</html>
